<div class="row section news">
	<div class="col-xs-12 col-lg-12">
	<h1><i class="fa fa-newspaper-o"></i> Hot News</h1>
	<div class="list-group news-wrapper">
		<div data-ng-repeat="newz in news" ng-if="$index<6"
			class="list-group-item news-item">					
			<span class="news-date small mute">{{newz.date | myDate}}</span>
			<a href="#/news/{{$index}}" ng-class="(newz.title | isEng)" >
				<img alt="news image" 
				class="pull-left radius3 newDefultImg"				
				ng-if="newz.media.length>0"
				ng-src="{{newz.media[0].type==1?newz.media[0].url:newz.media[0].vthumb}}" />
				<span>{{newz.title}}{{news.media}}</span>
			</a>
			
		</div>				
	</div>
	<a ng-href="#/news_list/0/{{limit}}" class="btn btn-primary btn-xs">View All News</a>		
	</div>
</div>