/********
General
********/
@font-face {
    font-family: urdu;
    src: url('Jameel Noori Nastaleeq.ttf');
}
.no-padding-top{padding-top:0px;}
.no-padding-right{padding-right:0px;}
.no-padding-bottom{padding-bottom:0px;}
.no-padding-left{padding-left:0px;}
.no-padding{padding:0px;}

.no-margin-top{margin-top:0px;}
.no-margin-right{margin-right:0px;}
.no-margin-bottom{margin-bottom:0px;}
.no-margin-left{margin-left:0px;}
.no-margin{margin:0px;}

.radius3{ border-radius: 3px; -mox-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; }
.radius5{ border-radius: 5px; -mox-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; }
.radius10{ border-radius: 10px; -mox-border-radius: 10px; -webkit-border-radius: 10px; -o-border-radius: 10px; }
.no-radius{ border-radius: 0px; -mox-border-radius: 0px; -webkit-border-radius: 0px; -o-border-radius: 0px; }
body{background:#EEE;}
/********
Nav
********/
.album-items{
	display:inline-block;
	float:left;
	width:50%;
	max-height:100px;
	overflow:hidden;
}
.album-items img{	
	max-width:100%;
}
/********
Nav
********/
.navbar{
	background:url(../img/cross-bg.jpg);
	background-position:0 50px;
	background-size:100% 100%;
	border: 0px;
    border-bottom: 1px solid #05739a;
}
.navbar .navbar-header{
	background-image:url(../img/h-bg.jpg);
	background-size:100% 100%;
	height:50px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #05739a;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #1fb7ef;
	color:#FFF;
	border-color: #1e7320;
}
.navbar-default .navbar-toggle {
    border-color: #057b2f;
    background: #00a3de;
	color: #FFF;
}
.navbar-toggle[aria-expanded="true"]{background:#00a3de;}
.navbar-toggle[aria-expanded="true"]:hover{background:#00a3de;}
.navbar-default .navbar-nav>li>a {
    color: #000000;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #FFF;
    background-color: rgba(0, 163, 222, 0.76);
}
@media (max-width: 767px){
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #000;
}}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #FFF;
    background-color: rgba(9, 165, 64, 0.87);
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #FFF;
    background-color: rgba(9, 165, 64, 0.87);
}
.navbar-nav .open .dropdown-menu {
    padding-left: 10px;
    padding-top: 0px;
}
.logo-link{padding:10px 10px 0 10px;margin-top: -8px;
    display: inline-block; }
.logo-link span{
	color: #FFF;
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
    line-height: 1em;
    position: relative;
    top: 10px;
}
.logo-img{max-height:45px;}
.navbar-toggle {
	margin-top: 4px;
    margin-bottom: 1px;
}



/********
Page-area
********/

.page-wrapper{
    min-height: 500px;
}

.page-content h1{
    color: #066929;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 5px;
    font-size: 28px;
}
.page-content .section.newz h1{
	color: #00a2e8;
	border-bottom: 3px solid #37ff7f;
}
.page-content .section.news h1{
	border-bottom: 3px solid #FFF;
	color:#FFF;
}
.page-content .section.videos h1{
	color: #FFF;
	border-bottom: 3px solid #FFF;
}
.page-content .section.images h1{
	color: #FFF;
	border-bottom: 3px solid #FFF;
}
.carousel{
	margin:10px 0px;
}
.carousel-caption{
	background: rgba(0, 163, 222, 0.73);
    width: 100%;
    top: 0px;
    left: 0px;
    padding: 0px 5px 0px 5px;
	max-height:1.5em;
	white-space: nowrap;
}
.carousel-caption h3,.carousel-caption p{
	padding:0px;
	margin:0px;
}
#myCarousel .item img{
	width:100%;
}
.news-wrapper a span{
	width: 87%;
    display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.oneline{
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.news-wrapper .news-item{
	position:relative;
}
.news-wrapper .news-item .news-date{
	position:absolute;
	right:3px;
	top:-2px;
	color:#999;
}
.newDefultImg{
	height: 40px;
    width: 40px;
    padding: 2px;
    border: 1px solid #DDD;
    background: #FFF;
    margin-right: -10px;
    position: relative;
    top: -11px;
    left: -16px;
}
/********
News
********/
.newz-item{
	background: url(../img/h-bg.jpg);
    background-size: 100% 100%;
    border: 1px solid #0e5427;
    color: #000000;
    padding: 5px;
}
.newz-item .news-title{
	font-weight:bold;
	font-size:18px;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 Aspect Ratio */ 
	height: 0;
	​width: 100%; /* You can set this width to whatever suits your needs */     
	margin: 0 auto 20px auto;
	z-index:8;
}
.video-container .overlay{
	display:block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;  
	height: 100%;
	background:rgba(22,22,22,0.1);
	z-index:10;
	
}
.video-container iframe,
.video-container object,
.video-container video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;  
	height: 100%;
	background:#000;
	z-index:9;
}
video::-internal-media-controls-download-button {display:none;}
video::-webkit-media-controls-enclosure {overflow:hidden;}
video::-webkit-media-controls-panel {width: calc(100% + 30px);}
.video-title{
	color: #074e20;
    font-weight: bold;
    white-space: nowrap;
}
.section.news{
	background:url(../img/party-crowd.jpg);
	background-size:100% 100%;
	background-attachment: fixed;
	min-height: 450px;
}
.section.news{
	background:url(../img/party-crowd.jpg);
	background-size: 100%;
}
.section.images{
	background:url(../img/red-bg.jpg);
	background-size:100% 100%;
	background-attachment: fixed;
	min-height: 450px;
}
.section.videos{
	background:url(../img/jibg.jpg);
	background-size:100% 100%;
	background-attachment: fixed;
	min-height: 450px;
}
.section.video{
	background:url(../img/cross-bg.jpg);
	background-size:100% 100%;
	background-attachment: fixed;
	min-height: 450px;
}
.section.images .photo{
	height:25vw;
	max-height:135px;
	overflow:hidden;
	margin-bottom:15px;
}
.section.videos .photo{
	height:25vw;
	max-height:135px;
	overflow:hidden;
	margin-bottom:15px;
}
.section>.col-xs-12{
	padding-bottom:20px;
}
.navz{margin:10px 0px;}
/********
Footer
********/
.footer{
    padding: 20px;
    background: #444;
    color:#EEE;
}
.footer-bar{
	height:5px;
	background:url(../img/h-bg.jpg);
	background-size:100% 100%;
}
@media (min-width: 450px) and (max-width: 767px){
	div.col-xs-6{
		width:33%;
	}
	
}
.light-theme h1{
	color:#00a3de;
}
.rtl {
    direction: rtl;
	font-size: 1.2em;
	font-family:urdu;
}

.ltr {
    direction: ltr;
}
a.rtl {
	display:block;
}